//
// Variables
// --------------------------------------------------

// Colors
$white: #ffffff;
$black: #000000;
$background: #f1f1f1;
$dark-gray: #1d2327;
$blue: #094e99;
$red: #dc3232;
$green: #5cb85c;

$border: 1px solid #e1e1e1;